asgiref==3.9.1
distlib==0.4.0
dj-database-url==3.0.1
Django==5.2.5
django-bootstrap5==25.2
filelock==3.18.0
gunicorn==23.0.0
mysqlclient==2.2.7
packaging==25.0
pillow==11.3.0
platformdirs==4.3.8
psycopg2-binary==2.9.10
sqlparse==0.5.3
virtualenv==20.33.1
whitenoise==6.9.0
