{% extends 'base.html' %}

{% block content %}


<div class="alert alert-secondary text-center fw-bold">مقالاتنا</div>
<div class="container py-5">
  <div class="row g-4">
    <div class="col-md-6">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">عنوان المقالة</h2>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem est ipsum quod minus vero consectetur, voluptatum numquam ab minima ea tenetur quaerat cumque doloribus magnam ex iure nihil vitae similique?
          </p>
          <a href="#" class="btn btn-primary">قراءة المزيد</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">عنوان المقالة</h2>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem est ipsum quod minus vero consectetur, voluptatum numquam ab minima ea tenetur quaerat cumque doloribus magnam ex iure nihil vitae similique?
          </p>
          <a href="#" class="btn btn-primary">قراءة المزيد</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
